.DS_Store
checkpoints/
build/
*.pth
*/*.pth
*/*/*.pth
torch.egg-info/
*/**/__pycache__
docs/src/**/*
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.npy
*.npz
*~
.idea
